body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.authWrapper {
  
  /* position: relative; */
  /* color: white; */
}

.starWrapper {
  
  background-color: black;
  width: 100%;
  height: 100vh;
  color: #ff6;
}
.greetingContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: 50% 17%;
  transform: perspective(200px) rotateX(20deg);
}

.star {
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
}
.resultWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.resultText{
  padding-top: 30px;
  font-size:40px;
  color: #ff6;
  text-align: center;
}
.resultBox{
  background: url(./assets/May_the_4th_be_with_you_\(Star_Wars_Day\).gif);
  background-size: cover;
  width: 40%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.questionCreateButton {
  margin-left: 30px;
}
.spanGreeting {
  font-size: 20px;
}
.star > div {
  padding-top: 200px;
  animation: autoscroll 5s linear;
  transition-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes autoscroll {
  from {
    margin-top: 300px;
  }
  to {
    margin-top: -100px;
  }
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.admin-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  background: url(./assets/adminWallper.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}